.sub4 {
    width: 100%;
    padding: 70px 0;
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        .title-banner {
            width: 100%;
            a {
                display: block;
                img {
                    max-width: 100%;
                }
            }
        }
        .best-product {
            position: relative;
            width: 100%;
            padding: 60px 0;
            .title {
                position: relative;
                display: block;
                h2 {
                    margin: 0 0 25px 0;
                    font-size: 28px;
                    text-align: center;
                    align-items: center;
                }
                .controller {
                    position: absolute;
                    top: 7px;
                    right: 40%;
                    button {
                        width: 8px;
                        height: 8px;
                        background: #ccc;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        cursor: pointer;
                        &:first-child {
                            margin: 0 3px;
                        }
                        &:last-child {
                            margin: 0 3px;
                        }
                        &.on {
                            background: #FF6001;
                            border-color: #FF6001;
                        }
                    }
                }
            }
            .best-box {
                position: relative;
                width: 100%;
                padding: 30px 50px 45px 50px;
                border: 1px solid #E6E6E6;
                overflow: hidden;
                .best-container {
                    position: relative;
                    width: 100%;
                    display: flex;
                    .product {
                        width: 183.5px;
                        margin: 0 20px 0 0;
                        .img-box {
                            width: 180px;
                            height: 180px;
                            img {
                                display: block;
                                max-width: 100%;
                            }
                        }
                        .caption {
                            position: relative;
                            width: 100%;
                            .row1 {
                                margin: 5px 0 8px 0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .delivery-box {
                                    width: 64px;
                                    height: 20px;
                                    .fast {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        background: url('../../../../public/images/intro/txt_badge_dlv.png') no-repeat 0 0;
                                    }
                                }
                                .rating {
                                    display: flex;
                                    text-align: center;
                                    align-items: center;
                                    &::before {
                                        content: "";
                                        position: relative;
                                        display: inline-block;
                                        width: 12px;
                                        height: 12px;
                                        margin: 0 2px 1.5px 0;
                                        background: url('../../../../public/images/intro/ico_star.png') no-repeat 0 0;
                                        transform: translateY(0.5px);
                                    }
                                    .score {
                                        font-size: 13px;
                                        color: #666;
                                        line-height: 20px;
                                    }
                                    .total-num {
                                        padding: 0 0 0 3px;
                                        font-size: 13px;
                                        color: #999;
                                        line-height: 20px;
                                    }
                                }
                            }
                            .row2 {
                                width: 100%;
                                height: 44px;
                                min-height: 44px;
                                margin-bottom: 8px;
                                > a {
                                    display: block;
                                    font-size: 15px;
                                }
                            }
                            .row3 {
                                display: flex;
                                padding-bottom: 7px;
                                .num {
                                    font-size: 18px;
                                    font-weight: 700;
                                }
                                h6 {
                                    padding-left: 1px;
                                    font-size: 13px;
                                    color: #333;
                                    transform: translateY(4px);
                                }
                            }
                            .badge-box {
                                .race {
                                    margin: 4px 4px 0 0;
                                }
                            }
                            .cart-btn {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 50px;
                                height: 32px;
                                padding: 7px 0;
                                background: #fff;
                                border: 1px solid #ccc;
                                border-radius: 50px;
                                text-align: center;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    width: 18px;
                                    height: 15px;
                                    background: url('../../../../public/images/intro/ico_btns.png');
                                    background-position: -30px 0;
                                }
                            }
                        }
                    }
                }
                .left-arrow {
                    position: absolute;
                    top: 32px;
                    left: 0px;
                    width: 50px;
                    height: 315px;
                    background: #fff;
                    border: 1px solid transparent;
                    cursor: pointer;
                    > i {

                    }
                }
                .right-arrow {
                    z-index: 3;
                    position: absolute;
                    top: 32px;
                    right: 0px;
                    width: 50px;
                    height: 315px;
                    background: #fff;
                    border: 1px solid transparent;
                    cursor: pointer;
                    > i {}
                }
            }
        }
        .onepack-wrap {
            width: 100%;
            .tabmenu {
                width: 100%;
                ul {
                    width: 100%;
                    display: table;
                    table-layout: fixed;
                    border-left: 1px solid #ececec;
                    li {
                        position: relative;
                        display: table-cell;
                        min-height: 60px;
                        background: #f4f4f4;
                        border-bottom: 1px solid #ececec;
                        &.on {
                            background: #fff;
                            border-bottom: 0;
                            a {
                                color: #ff7f33;
                                font-weight: 700;
                                .tab-line {
                                    background: #ff7f33;
                                }
                            }
                        }
                        a {
                            position: relative;
                            display: block;
                            text-align: center;
                            padding: 0 0 10px 0;
                            border-right: 1px solid #ececec;
                            font-size: 13px;
                            color: #666;
                            .tab-line {
                                display: block;
                                margin: 0 0 10px 0;
                                height: 3px;
                                background: transparent;
                            }
                            i.tab-icon {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                img {
                                    max-width: 100%;
                                }
                            }
                            span {
                                display: block;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
            .onepack-list {
                padding: 40px 60px;
                border: 1px solid #ececec;
                border-top: 0;
                .onepack-header {
                    position: relative;
                    padding: 15px 0 20px 0;
                    display: flex;
                    justify-content: right;
                    .filter-box {
                        display: flex;
                        height: 16px;
                        a {
                            display: flex;
                            font-size: 14px;
                            color: #333;
                            &.on {
                                color: #FF6001;
                                font-weight: 700;
                                em {
                                    display: block;
                                }
                            }
                            em {
                                display: none;
                                width: 12px;
                                height: 8px;
                                margin-right: 5px;
                                background: url('../../../../public/images/intro/ico_form.png') no-repeat 0 0;
                                transform: translateY(4px);
                            }
                        }
                        i {
                            margin: 0 8px;
                            font-size: 12px;
                            color: #999;
                            transform: translateY(2px);
                        }
                    }
                }
                ul.onepack-items {
                    margin: 0 -20px;
                    li.item {
                        width: 33.33%;
                        padding: 0 20px;
                        display: inline-block;
                        .item-img-box {
                            position: relative;
                            width: 300px;
                            height: 300px;
                            a {
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                        .item-caption {
                            position: relative;
                            width: 100%;
                            .row1 {
                                margin: 5px 0 8px 0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .delivery-box {
                                    width: 64px;
                                    height: 20px;
                                    .fast {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        background: url('../../../../public/images/intro/txt_badge_dlv.png') no-repeat 0 0;
                                    }
                                }
                                .rating {
                                    display: flex;
                                    text-align: center;
                                    align-items: center;
                                    &::before {
                                        content: "";
                                        position: relative;
                                        display: inline-block;
                                        width: 12px;
                                        height: 12px;
                                        margin: 0 2px 1.5px 0;
                                        background: url('../../../../public/images/intro/ico_star.png') no-repeat 0 0;
                                        transform: translateY(0.5px);
                                    }
                                    .score {
                                        font-size: 13px;
                                        color: #666;
                                        line-height: 20px;
                                    }
                                    .total-num {
                                        padding: 0 0 0 3px;
                                        font-size: 13px;
                                        color: #999;
                                        line-height: 20px;
                                    }
                                }
                            }
                            .row2 {
                                width: 100%;
                                height: 44px;
                                min-height: 44px;
                                margin-bottom: 8px;
                                > a {
                                    display: block;
                                    font-size: 15px;
                                    line-height: 130%;
                                }
                            }
                            .row3 {
                                display: flex;
                                padding-bottom: 7px;
                                .num {
                                    font-size: 18px;
                                    font-weight: 700;
                                }
                                h6 {
                                    padding-left: 1px;
                                    font-size: 13px;
                                    color: #333;
                                    transform: translateY(4px);
                                }
                            }
                            .badge-box {
                                width: 100%;
                                .race {
                                    display: block;
                                    height: 20px;
                                    margin: 4px 4px 0 0;
                                }
                            }
                            .cart-btn {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 50px;
                                height: 32px;
                                padding: 7px 0;
                                background: #fff;
                                border: 1px solid #ccc;
                                border-radius: 50px;
                                text-align: center;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    width: 18px;
                                    height: 15px;
                                    background: url('../../../../public/images/intro/ico_btns.png');
                                    background-position: -30px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}