#sub5 {
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 70px 0;
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        .sub5-title {
            width: 100%;
            text-align: center;
            h2 {
                color: #333;
                font-size: 30px;
                font-weight: 700;
            }
        }
        // 공통 섹션
        .section {
            width: 100%;
            height: 100%;
            .title {
                width: 100%;
                margin: 0 0 20px 0;
                h3 {
                    color: #333;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
        #section1 {
            padding: 50px 0 0 0;
            .content {
                width: 1150px;
                .popular-brand {
                    position: relative;
                    width: 100%;
                    padding: 0 20px;
                    overflow: hidden;
                    ul.slide-wrap {
                        position: relative;
                        width: 100%;
                        display: flex;
                        li.slide {
                            min-width: 262.5px;
                            margin: 0 20px 0 0;
                            .brand-list {
                                position: relative;
                                width: 100%;
                                .img-box {
                                    width: 260px;
                                    height: 260px;
                                    a {
                                        display: block;
                                        img {
                                            z-index: 1;
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(17,17,17, 0.12);
                                            border-radius: 5px;
                                        }
                                        .logo-box {
                                            z-index: 2;
                                            position: absolute;
                                            top: 20%;
                                            left: 23%;
                                            width: 140px;
                                            .logo {
                                                width: 140px;
                                                height: 140px;
                                                background: none;
                                            }
                                        }
                                    }
                                }
                                .caption-box {
                                    width: 100%;
                                    height: 40px;
                                    margin: 10px 0 0 0;
                                    strong {
                                        color: #222;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 23px;
                                    }
                                    p {
                                        color: #666;
                                        font-size: 13px;
                                        line-height: 23px;
                                    }
                                }
                            }
                        }
                    }
                    .left-btn {
                        z-index: 5;
                        position: absolute;
                        top: 40%;
                        left: 0;
                        width: 40px;
                        height: 40px;
                        background: rgba(255,255,255, 0.85);
                        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
                        border: 0;
                        border-radius: 50%;
                        cursor: pointer;
                        .material-icons {
                            color: #888;
                            font-weight: 100;
                        }
                    }
                    .right-btn {
                        z-index: 5;
                        position: absolute;
                        top: 40%;
                        right: 10px;
                        width: 40px;
                        height: 40px;
                        background: rgba(255,255,255, 0.85);
                        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
                        border: 0;
                        border-radius: 50%;
                        cursor: pointer;
                        .material-icons {
                            color: #888;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        #section2 {
            padding: 100px 0;
            .content {
                width: 100%;
                .md-brand {
                    position: relative;
                    padding: 0 25px;
                    overflow: hidden;
                    ul.slide-wrap {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        li.slide {
                            position: relative;
                            width: 100%;
                            min-width: 190px;
                            height: 100%;
                            margin-right: 25px;
                            text-align: center;
                            .brand-name {
                                width: 142px;
                                display: inline-block;
                                a {
                                    display: block;
                                    .logo {
                                        width: 100%;
                                        height: 142px;
                                        padding: 20px;
                                        background: #f8f8f8;
                                        border-radius: 50%;
                                        img {
                                            display: block;
                                            width: 100px;
                                            height: 100px;
                                        }
                                    }
                                    span {
                                        display: block;
                                        text-align: center;
                                        font-size: 15px;
                                        color: #333;
                                        margin: 10px 0 0 0;
                                    }
                                }
                            }
                        }
                    }
                    .left-btn {
                        position: absolute;
                        top: 30%;
                        left: -2px;
                        width: 27px;
                        height: 45px;
                        background: none;
                        border: 0;
                        cursor: pointer;
                        i {
                            display: block;
                            width: 100%;
                            height: 44px;
                            font-size: 45px;
                            color: #000;
                        }
                    }
                    .right-btn {
                        position: absolute;
                        top: 30%;
                        right: -2px;
                        width: 27px;
                        height: 45px;
                        background: none;
                        border: 0;
                        cursor: pointer;
                        i {
                            display: block;
                            width: 100%;
                            height: 44px;
                            font-size: 45px;
                            color: #000;
                        }
                    }
                }
            }
        }
        #section3 {
            .month-brand {
                width: 100%;
                margin: 0 -10px;
                display: flex;
                .brand {
                    padding: 0 10px;
                    display: flex;
                    .brand-box {
                        padding: 20px;
                        background: #f8f8f8;
                        border-radius: 5px;
                        .title-b {
                            width: 100%;
                            height: 60px;
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h4 {
                                img {
                                    display: inline-block;
                                    height: 60px;
                                }
                                span {
                                    display: inline-block;
                                    margin-left: 20px;
                                    color: #333;
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                            a {
                                > span {
                                    color: #666;
                                    font-size: 12px;
                                }
                                i {
                                    margin-left: 3px;
                                    color: #666;
                                    transform: translateY(-1.7px);
                                }
                            }
                        }
                        ul {
                            margin: 0 -8px;
                            display: flex;
                            li {
                                width: 33.33%;
                                padding: 0 8px;
                                .item {
                                    width: 100%;
                                    a {
                                        display: block;
                                        .sec3img {
                                            display: block;
                                            width: 156px;
                                            height: 156px;
                                            border: 1px solid #e1e1e1;
                                            border-radius: 6px;
                                            overflow: hidden;
                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                        .price {
                                            display: block;
                                            margin-top: 8px;
                                            color: #000;
                                            em {
                                                font-size: 14px;
                                                font-weight: 700;
                                            }
                                            strong {
                                                margin-left: 0.5px;
                                                font-size: 10px;
                                                font-weight: 700;
                                                vertical-align: bottom;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #section4 {
            padding-top: 90px;
            .input-box {
                width: 526px;
                height: 45px;
                margin: 0 auto;
                border-bottom: 2px solid #333;
                display: flex;
                justify-content: space-between;
                input {
                    width: 100%;
                    height: 100%;
                    padding: 3px 15px;
                    border: 0;
                    color: #333;
                    font-size: 13px;
                    font-family: 'Pretendard';
                    letter-spacing: -0.5px;
                }
                .search-box {
                    width: 45px;
                    height: 100%;
                    .search-btn {
                        padding: 12px;
                        cursor: pointer;
                        background: transparent;
                        border: 0;
                        transform: translateY(-2px);
                        .search-icon {
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            background: url(../../../../public/images/sub/sub5/ico_btns.png) no-repeat 0 0;
                            background-position: -90px -90px;
                        }
                    }
                }
            }
        }
        #section5 {
            margin-top: 30px;
            .content {
                width: 100%;
                padding: 30px 0;
                background: #f8f8f8;
                .filter {
                    width: 100%;
                    padding: 0 35px;
                        // 공통 클래스
                        .class-title {
                            width: 55px;
                            height: 30px;
                            margin-right: 20px;
                            h4 {
                                width: 100%;
                                color: #333;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 30px;
                                text-align: center;
                            }
                        }
                        ul.class-list {
                            display: flex;
                            li.class {
                                height: 30px;
                                &.more {
                                    margin-left: 10px;
                                }
                                button {
                                    min-width: 30px;
                                    height: 100%;
                                    padding: 0 7px;
                                    border: 1px solid #ccc;
                                    background: #fff;
                                    cursor: pointer;
                                    span {
                                        color: #666;
                                        font-size: 13px;
                                        font-family: 'Pretendard';
                                        line-height: 28px;
                                    }
                                }
                                &.on {
                                    button {
                                        background-color: #333;
                                        border-color: transparent;
                                        span {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        i {
                            height: 15px;
                            padding: 0 30px;
                            color: #ccc;
                            font-size: 15px;
                            transform: translateY(8px);
                        }
                    .korean {
                        display: flex;
                    }
                    .category {
                        margin-top: 15px;
                        display: flex;
                    }
                }
            }
        }
        #section6 {
            margin-top: 50px;
            .content {
                width: 100%;
                ul.grid {
                    position: relative;
                    margin: 0 -10px;
                    display: flex;
                    flex-wrap: wrap;
                    li.column {
                        width: 25%;
                        padding: 0 10px;
                        margin-bottom: 50px;
                        .brand-list-item {
                            width: 100%;
                            .img-box {
                                width: 260px;
                                height: 260px;
                                a {
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 5px;
                                    }
                                }
                            }
                            .text-box {
                                position: relative;
                                margin-top: 10px;
                                height: 40px;
                                span {
                                    color: #333;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 23px;
                                }
                                p {
                                    color: #666;
                                    font-size: 13px;
                                    line-height: 23px;
                                }
                                .wish {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 24px;
                                    height: 24px;
                                    .heart {
                                        width: 100%;
                                        height: 100%;
                                        border: 0;
                                        background: url(../../../../public/images/sub/sub5/heart-icon.png) no-repeat -24px -40px;
                                        background-size: 240px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}