#sub6 {
    width: 100%;
    padding: 70px 0 100px 0;
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        .title {
            width: 100%;
            text-align: center;
            h2 {
                font-size: 30px;
                font-weight: 700;
            }
        }
        .content {
            .event {
                margin-top: 35px;
                .event-header {
                    position: relative;
                    display: flex;
                    margin-bottom: 20px;
                    h3 {
                        margin-right: 20px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    ul {
                        display: flex;
                        li {
                            font-size: 14px;
                            color: #333;
                            line-height: 20px;
                            cursor: pointer;
                            &:nth-child(2) {
                                padding: 0 13px;
                                color: #ccc;
                                font-size: 10px;
                                transform: translateY(2px);
                            }
                            &:nth-child(4) {
                                padding: 0 13px;
                                color: #ccc;
                                font-size: 10px;
                                transform: translateY(2px);
                            }
                        }
                    }
                    a {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 5px 10px;
                        background: #fff;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        .icon {
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: url(../../../../public/images/sub/sub6/ico_btns.png) no-repeat -180px 0;
                        }
                        span {
                            margin-left: 6px;
                            font-size: 13px;
                            font-weight: 500;
                            color: #666;
                            line-height: 160%;
                        }
                    }
                }
                ul.event-wrap {
                    margin: 0 -20px;
                    display: flex;
                    flex-flow: wrap;
                    li.event-list {
                        width: 50%;
                        padding: 0 20px;
                        margin-bottom: 40px;
                        .event-box {
                            position: relative;
                            width: 100%;
                            cursor: pointer;
                            .img {
                                width: 100%;
                                img {
                                    width: auto;
                                    border-radius: 3px;
                                }
                            }
                            .text {
                                margin-top: 10px;
                                .title-text {
                                    color: #333;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                }
                                .date {
                                    margin-top: 3px;
                                    color: #999;
                                    font-size: 14px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
                .page-bottom {
                    position: relative;
                    margin-top: 20px;
                    .pagenation {
                        padding: 9px 0;
                        text-align: center;
                        button {
                            width: 25px;
                            height: 25px;
                            padding: 0 1px;
                            border: 0;
                            background: url(../../../../public/images/sub/sub6/ico_pagination.png) no-repeat 0 0;
                            color: #999;
                            font-size: 14px;
                            cursor: pointer;
                            &.next-btn {
                                background-position: 0 -30px;
                            }
                        }
                        a {
                            display: inline-block;
                            height: 25px;
                            padding: 0 1px;
                            margin: 0 8px;
                            color: #999;
                            font-size: 14px;
                            line-height: 24px;
                            span {
                                display: block;
                                color: #999;
                                font-size: 14px;
                                &.on {
                                    color: #fb5001;
                                    font-weight: 700;
                                    border-bottom: 2px solid #fb5001;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}