#login {
    width: 100%;
    height: 100%;
    #section1 {
        width: 100%;
        height: 100%;
        background: #f7f7f7;
        .container {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            height: 100%;
            padding: 100px 0;
            .title {
                color: #000;
                text-align: left;
                margin-bottom: 20px;
                
                h2 {
                    font-size: 32px;
                    line-height: 120%;
                }
                span {
                    
                    strong {
                        padding-right: 5px;
                        img {
                            width: 105px;
                        }
                    }
                    em {
                        font-size: 32px;
                        vertical-align: bottom;
                        font-weight: 500;
                    }
                }
            }
            .content {
                width: 100%;
                form {
                    width: 100%;
                    ul {
                        width: 100%;
                        li {
                            width: 100%;
                            .gap {
                                width: 100%;
                                padding: 5px 0;
                                
                                input[type='password'],
                                input[type='text'] {
                                    width: 100%;
                                    height: 50px;
                                    border-radius: 5px;
                                    border: 1px solid #ccc;
                                    padding: 3px 15px;
                                    background: #fff;
                                    font-size: 14px;
                                    color: #333;
                                    outline-offset: -1px;
                                    outline: 1px solid transparent;
                                    transition: all 0.3s;
                                    &:focus {
                                        outline-color: #333;
                                    }
                                }
                                input[type='checkbox'] {
                                    appearance: none;
                                    width: 22px;
                                    height: 22px;
                                    border: 1px solid #ddd;
                                    background: #fff;
                                    border-radius: 3px;
                                    cursor: pointer;
                                    &:checked {
                                        border:  solid #FF6001;
                                        background: url(../../../../public/images/sub/login/ico_form.png) no-repeat -54px -3px #FF6001;
                                        
                                    }
                                }
                                input[type='submit'] {
                                    width: 100%;
                                    height: 50px;
                                    font-size: 17px;
                                    font-weight: 600;
                                    color: #fff;
                                    background: #FF6001;
                                    border-radius: 5px;
                                    border: 1px solid #FF6001;
                                    cursor: pointer;
                                }
                                input[type='button'] {
                                    width: 100%;
                                    height: 50px;
                                    font-size: 15px;
                                    color: #666;
                                    background: #fff;
                                    border-radius: 5px;
                                    border: 1px solid #ccc;
                                    cursor: pointer;
                                }
                                label {
                                    font-size: 14px;
                                    height: 30px;
                                    position: relative;
                                    padding-left: 10px;
                                    margin-right: 15px;
                                    display: inline-flex;
                                    align-items: center;
                                    cursor: pointer;
                                }

                                &.idpw-gap {
                                    margin-top: 20px;
                                    display: flex;
                                    justify-content: center;
                                    a {
                                        padding: 0 8px;
                                        font-size: 14px;
                                        color: #222;
                                    }
                                    i {
                                        font-size: 10px;
                                        transform: translateY(2px);
                                        color: #ccc;
                                    }
                                }
                                .login-icon-box {
                                    width: 100%;
                                    height: 50px;
                                    display: flex;
                                    justify-content: center;
                                    margin: 25px 0;
                                    li {
                                        width: 46px;
                                        height: 46px;
                                        overflow: hidden;
                                        
                                        &:nth-child(1) {
                                            background: url(../../../../public/images/sub/login/ico_sns_login_m.png) no-repeat;
                                            background-size: auto 46px;
                                        }
                                        &:nth-child(2) {
                                            background: url(../../../../public/images/sub/login/ico_sns_login_m.png) no-repeat right;
                                            background-size: auto 46px;
                                            margin: 0 20px;
                                        }
                                        &:nth-child(3) {
                                            background: url(../../../../public/images/sub/login/ico_sns_kakao_m.png) no-repeat;
                                            background-size: auto 46px;
                                        }
                                        a {
                                            width: 46px;
                                            height: 46px;
                                        }
                                    }
                                }
                                span {
                                    p {
                                        font-size: 14px;
                                        text-align: center;
                                        color: #666;
                                    }
                                    
                                }
                                img {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}