#signup {
    width: 100%;
    height: 100%;
    #section1 {
        width: 100%;
        height: 100%;
        background: #f7f7f7;
        padding: 100px 0;
        .container {
            width: 720px;
            margin: 0 auto;
            height: auto;
            background: #fff;
            border-radius: 20px;
            padding: 60px 100px;
            .title {
                color: #000;
                text-align: left;
                margin-bottom: 20px;
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #333;
                    line-height: 120%;
                }
                
            }
            .content {
                width: 100%;
                form {
                    width: 100%;
                    ul {
                        width: 100%;
                        li {
                            width: 100%;
                            .gap {
                                width: 100%;
                                height: auto;
                                padding: 15px 0;
                                &.last {
                                    padding: 5px 0;
                                    p {
                                        font-size: 14px;
                                        color: #aaa;
                                    }
                                }
                                
                                .label-box {
                                    padding-bottom: 5px;
                                    label {
                                        font-size: 14px;
                                        font-weight: 500;
                                        i {
                                            display: inline-block;
                                            width: 4px;
                                            height: 4px;
                                            border-radius: 50%;
                                            background: #ff6001;
                                            vertical-align: top;
                                            margin: 2px 0 0 2px;
                                        }
                                    }
                                }
                                .input-btn-box {
                                    display: flex;
                                    input[type='password'],
                                    input[type='text'] {
                                        width: 100%;
                                        height: 50px;
                                        border-radius: 5px;
                                        border: 1px solid #ccc;
                                        padding: 3px 15px;
                                        background: #fff;
                                        font-size: 13px;
                                        color: #333;
                                        outline-offset: -1px;
                                        outline: 1px solid transparent;
                                        transition: all 0.3s;
                                        margin-right: 8px;
                                        &:focus {
                                            outline-color: #333;
                                        }
                                        
                                    }
                                    label {
                                        margin: 10px 30px 0 0;
                                        cursor: pointer;
                                        input[type='radio']{
                                            margin-right: 10px;
                                            appearance: none;
                                            width: 20px;
                                            height: 20px;
                                            border-radius: 50%;
                                            background: #fff;
                                            border: 1px solid #ddd;
                                            position: relative;
                                            cursor: pointer;
                                            &:checked {
                                               &::after {
                                                    content: '';
                                                    position: absolute;
                                                    top: 4px;
                                                    left: 4px;
                                                    width: 10px;
                                                    height: 10px;
                                                    background: #ff6001;
                                                    border-radius: 50%;

                                               }
                                            }
                                        }
                                        span {
                                            font-size: 16px;
                                        }
                                    }
                                    
                                    button {
                                        width: 80px;
                                        border: 1px solid #333;
                                        border-radius: 5px;
                                        background: #fff;
                                        color: #444;
                                        font-size: 12px;
                                        cursor: pointer;
                                        &.on {
                                            border: 1px solid #ff6001;
                                            border-radius: 5px;
                                            background: #fff;
                                            color: #ff6001; 
                                        }
                                    }
                                    &.pw {
                                        display: block;
                                        input {
                                            &:last-child{
                                                margin-top: 6px;
                                            }
                                        }
                                    }
                                    &.phone {
                                        margin-top: 6px;
                                    }
                                }
                                .select-box {
                                    position: relative;
                                    cursor: pointer;
                                    .box {
                                        position: relative;
                                        width: 150px;
                                        height: 50px;
                                        padding: 5px 12px;
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        background: #fff;
                                        
                                        button {
                                            width: 100%;
                                            height: 100%;
                                            border: 0;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            cursor: pointer;
                                            span {
                                                font-size: 13px;
                                                color: #999;
                                            }
                                            img {
                                                width: 5px;
                                                height: 10px;
                                                transform: rotate(90deg);
                                                
                                            }
                                        }
                                        
                                    }
                                    .select-list {
                                        width: 150px;
                                        position: absolute;
                                        z-index: 2;
                                        border: 1px solid #333;
                                        border-top: 0;
                                        background: #fff;
                                        max-height: 300px;
                                        overflow-y: auto;
                                        ul {
                                            width: 100%;
                                            li {
                                                width: 100%;
                                                height: 40px;
                                                padding: 5px 12px;
                                                border-bottom: 1px solid #ddd;
                                                font-size: 14px;
                                                line-height: 200%;
                                                a {
                                                    display: block;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }

                                }
                                .guid-box1 {
                                    margin-top: 6px;
                                    p {
                                        font-size: 13px;
                                        color: #FF490F;
                                        line-height: 120%;
                                        &.on {
                                            color: #999;
                                        }
                                    }
                                }
                                .guid-box2 {
                                    em {
                                        font-size: 13px;
                                        color: #999;
                                        padding-top: 4px;
                                        line-height: 120%;
                                        &.on {
                                            color: #FF490F;
                                        }
                                    }
                                }
                                .guid-box3 {
                                    strong {
                                        font-size: 13px;
                                        color: #FF490F;
                                        padding-top: 4px;
                                        line-height: 120%;
                                    }
                                }
                                
                                input[type='submit'] {
                                    width: 100%;
                                    height: 50px;
                                    font-size: 15px;
                                    color: #fff;
                                    background: #c7c7c7;
                                    border-radius: 5px;
                                    border: 1px solid #c7c7c7;
                                    margin-top: 20px;
                                    cursor: pointer;
                                    &.on {
                                        background: #ff6001;
                                        border: 1px solid #ff6001;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}