#signin-pw-reset {
    width: 100%;
    height: 100%;
    #section1 {
        width: 100%;
        height: 100%;
        background: #f7f7f7;
        padding: 100px 0;
        .container {
            width: 720px;
            margin: 0 auto;
            height: 100%;
            background: #fff;
            border-radius: 20px;
            padding: 70px 150px 90px ;
            .title {
                color: #000;
                text-align: left;
                margin-bottom: 20px;
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #333;
                    line-height: 120%;
                }
                
            }
            .content {
                width: 100%;
                form {
                    width: 100%;
                    ul {
                        width: 100%;
                        li {
                            width: 100%;
                            
                            .gap {
                                width: 100%;
                                padding: 5px 0;
                                .input-box {
                                    input[type='password'],
                                    input[type='text'] {
                                        width: 100%;
                                        height: 50px;
                                        border-radius: 5px;
                                        border: 1px solid #ccc;
                                        padding: 3px 15px;
                                        background: #fff;
                                        font-size: 13px;
                                        color: #333;
                                        outline-offset: -1px;
                                        outline: 1px solid transparent;
                                        transition: all 0.3s;
                                        margin-right: 8px;
                                        &:focus {
                                            outline-color: #333;
                                        }
                                    }
                                }
                                
                                input[type='submit'] {
                                    width: 100%;
                                    height: 50px;
                                    font-size: 15px;
                                    color: #fff;
                                    background: #c7c7c7;
                                    border-radius: 5px;
                                    border: 1px solid #c7c7c7;
                                    margin-top: 20px;
                                    cursor: pointer;
                                    &.on {
                                        background: #ff6001;
                                        border: 1px solid #ff6001;
                                    }
                                }
                            }
                            .guid-box {
                                p {
                                    font-size: 13px;
                                    color: #FF490F;
                                    line-height: 120%;
                                    &.on {
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}