#footer {
    width: 100%;
    .title-menu {
        width: 100%;
        height: 50px;
        background: #f8f8f8;
        .title-container {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 1100px;
            padding: 20px 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                li {
                    display: inline-flex;
                    padding: 0 16px 0 0;
                    &:nth-last-child(1){
                        a {
                            color: #000;
                        }
                    }
                    a {
                        font-size: 14px;
                        color: #666;
                    }
                }
                i {
                    margin: 0 13px 0 0;
                    font-size: 12px;
                    color: #ccc;
                }
            }
            .family-box {
                position: absolute;
                top: 15px;
                right: 0;
                width: 215px;
                button {
                    position: relative;
                    width: 100%;
                    padding: 0 25px;
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    span {
                        position: relative;
                        display: block;
                        text-align: left;
                        font-size: 14px;
                        font-family: 'Noto sans KR';
                        color: #666;
                    }
                    .material-icons {
                        position: absolute;
                        top: 0;
                        right: 0;
                        &.on {
                            transform: rotate(180deg);
                        }
                    }
                }
                .family-list {
                    position: absolute;
                    bottom: 50px;
                    left: 0;
                    width: 100%;
                    padding: 10px 0;
                    border: 1px solid #ccc;
                    display: none;
                    &.on {
                        display: block;
                    }
                    > li {
                        width: 100%;
                        padding: 6px 25px;
                        &:hover {
                            background: #f8f8f8;
                            a {
                                color: #333;
                            }
                        }
                        > a {
                            display: block;
                            width: 100%;
                            color: #999;
                        }
                    }
                }
            }
        }
    }
    .content {
        position: relative;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 35px 0 45px 165px;
        display: flex;
        .logo {
            position: absolute;
            left: 0;
            top: 35px;
            width: 100px;
            img {
                width: auto;
            }
        }
        .company {
            width: 50%;
            > ul {
                padding-right: 55px;
                > li {
                    margin: 0 0 15px 0;
                    line-height: 150%;
                    strong {
                        font-size: 14px;
                        font-weight: 500;
                        color: #333;
                    }
                    em {
                        font-size: 13px;
                        color: #666;
                        font-weight: 300;
                        i {
                            padding: 0 3px;
                            font-size: 12px;
                            vertical-align: top;
                        }
                        .info {
                            padding: 0 0 0 3px;
                            vertical-align: top;
                            text-decoration-line: underline;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #666;
                        font-weight: 300;
                    }
                }
            }
        }
        .customer-center {
            width: 50%;
            .caption {
                width: 100%;
                >li {
                    padding: 0 0 10px 0;
                    font-size: 13px;
                    font-weight: 300;
                    color: #666;
                    > strong {
                        font-size: 15px;
                        color: #333;
                        
                    }
                    > span {
                        margin: 0 0 0 10px;
                    }
                    .tel-box {
                        display: flex;
                        img {
                            width: 18px;
                            height: 18px;
                            transform: translateY(2px);
                        }
                        h6 {
                            display: block;
                            padding: 0 0 0 7px;
                            font-size: 22px;
                            font-weight: 600;
                            color: #333;
                        }
                    }
                }
            }
            .customer-btn {
                margin: 3px 0 0 0;
                > a {
                    display: inline-block;
                    height: 22px;
                    padding: 2px 6px;
                    margin: 0 7px 0 0;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    > span {
                        font-size: 11px;
                        color: #777;
                        
                    }
                }
            }
            .sns_icons {
                margin: 20px 0 0 0;
                overflow: hidden;
                > li {
                    display: inline-flex;
                    margin: 0 10px 0 0;
                    &:nth-child(2){
                        > a {
                            background-position: -40px 0;
                        }
                    }
                    &:nth-child(3){
                        > a {
                            background-position: -80px 0;
                        }
                    }
                    &:nth-child(4){
                        > a {
                            background-position: -120px 0;
                        }
                    }
                    &:nth-child(5){
                        > a {
                            background-position: -160px 0;
                        }
                    }
                    &:nth-child(6){
                        > a {
                            background-position: -200px 0;
                        }
                    }
                    > a {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background-image: url('../../../public/images/intro/footer/ico_footer_sns_dark.png');
                    }
                }
            }
        }
    }
    .bottom {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            > a {
                display: block;
                > img {
                    width: 18px;
                    height: 20px;
                }
                > span {
                    margin: 0 0 0 7px;
                    font-size: 13px;
                    color: #666;
                }
            }
        }
    }
}