#topModal {
    width: 100%;
    height: 43px;
    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .content {
            display: flex;
            .topModal-left-box {
                width: 50%;
                background: #FFEBC8;
                .img-box {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    img {
                        
                    }
                }
                
            }
            .topModal-right-box {
                z-index: 1;
                width: 50%;
                background:#e0c7fc;
                .img-box {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    img {
                        
                    }
                }
            }
            button {
                position: absolute;
                width: 25px;
                height: 25px;
                right: 401px; // (1903-1100)/2
                top: 8px;
                z-index: 2 ;
                background: transparent;
                border: 0;
                cursor: pointer;
                &::before {
                    content: "";
                    position: relative;
                    display: inline-block;
                    margin: 0 0 0 0;
                    height: 25px;
                    border: #fff;
                    border-style: solid;
                    border-width: 0 1px 0 0;
                    transform: rotate(-135deg);
                }
                &::after {
                    content: "";
                    position: relative;
                    display: inline-block;
                    margin: 0 0 0 0;
                    height: 25px;
                    border: #fff;
                    border-style: solid;
                    border-width: 0 1px 0 0;
                    transform: rotate(-45deg);
                }
                
            }
        }
    }
}