#section1Modal {
    z-index: 1000;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    .container {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.6);
        display: flex;
        justify-content: center;
        padding-top: 50px;
        .banner-box {
            width: 1100px;
            height: 100%;
            display: block;
            ul {
                position: relative;
                max-height: 96vw;
                overflow: auto;
                text-align: left;
                margin: 0 -3px 0 -2px;
                overflow-y: scroll;
                li {
                    width: 50%;
                    height: 200px;
                    display: inline-block;
                    padding-left: 2px;
                    padding-right: 3px;
                    margin-top: 5px;
                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            height: 100%;
                            vertical-align: top;
                            transform: translate(-50%, -50%);
                        }
                    }                    
                }
            }
        }        
        .button-box {   
            position: absolute;
            padding-top: 50px;
            top: 0;
            right: 18.4%;
            button {
                position: relative;
                color:#fff;
                height: 45px;
                width: 45px;
                background: #191919;
                font-size: 20px;                  
                border: 0;
                cursor: pointer;
                i {

                }
            }
        }
    }
}